/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F8F8FA;
}

/* Home */

.cb-slideshow li {
    list-style-type: none;
}
.cb-slideshow li span { 
    width: 100%;
    height: 500px;
    position: absolute;
    top: 49px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-color: #333;
    background-blend-mode: soft-light;
    opacity: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 36s linear infinite 0s;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 { 
    z-index: 1000;
    width: 100%;
    text-align: center;
    -webkit-animation: linear infinite 40s;
    -moz-animation: linear infinite 40s;
    -o-animation: linear infinite 40s;
    -ms-animation: linear infinite 40s;
    animation: linear infinite 40s; 
    line-height: 500px;
    font-size: 45px;
    font-family: "Benton Sans";
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.cb-slideshow h4 {
  font-family: "Benton Sans";
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  bottom: 210px;
  text-align: center;
}

.get-started-button {
  background-color: #22b8ff;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 145px;
  padding: 12px;
  font-size: 16px;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  transition: all .2s;
  text-transform: uppercase;
  position: relative;
  bottom: 180px;
  left: 640px;
  align-items: center;
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473139080/spark_uhr4at.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473138822/run_ly1q9s.jpg);
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473138829/cafe_xle2io.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473138814/food_i5fyfg.jpg);
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;

}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473138825/people2_lilzrc.jpg);
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;

}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(http://res.cloudinary.com/drbaijrqx/image/upload/v1473138824/food2_rt6t8j.jpg);
    animation-delay: 30s;
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
}

@keyframes imageAnimation { 
    0% { opacity: 0}
    2% { opacity: 1}
    24% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}

.clicked {
  color: #22b8ff;
}

.event-card-preheading {
  font-family: "Benton Sans";
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-left: 12%;
  color: #282C35;
}

.location-span {
  color: #22b8ff;
}

.see-more-container {
  margin-top: 40px;
  height: 90px
}

.see-more {
  margin-top: 180px;
}

/* Categories */

.categories-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.categories-h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Benton Sans";
  color: #45494E;
  margin-left: 12.5%;
}

.category-card img {
  display: inline-block;
  height: 220px;
  width: 100%;
  margin: 7px;
  border-radius: 3px;
}

.category-image {
  margin: 7px;
  margin-bottom: 0px;
  -webkit-filter: brightness(100%);
  -webkit-transition : -webkit-filter 250ms linear
}

.categories-row {
  width: 100%;
  display: flex;
}

.category-card.wide {
  flex: 2;
  margin: 7px;
  margin-bottom: 0px;
}

.category-card {
  flex: 1;
  margin: 7px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.category-card h2 {
  font-family: "Benton Sans";
  font-size: 25px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.category-card-p {
  font-family: "Benton Sans";
  font-size: 12px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0;
  display: inline-block;
  transition: all 2s;
  transition: opacity .7s,-webkit-transform .35s;
}

.category-card:hover .category-card-p {
  transform: scale(1.2);
  opacity: 1;
}

.category-card:hover .category-image  {
  -webkit-transition : -webkit-filter 250ms linear;
  -webkit-filter: brightness(55%);
}

.category-text {
  text-align: center;
  position: relative;
  top: 150px;
  z-index: 2;
}

#lessons-card {
  position: relative;
  bottom: 9px;
}

#lessons-card .category-text {
  top: 150px;
}

#lessons p {
  width: 90%;
  position: relative;
  left: 3px;
}

#arts {
  position: relative;
  left: 5px;
}

.festivals {
  position: relative;
  top: 7px;
}

.celebrations {
  position: relative;
  bottom: 7px;
}

.parties h2 {
  position: relative;
  top: 6px;
  left: 4px;
}

.bottom-row {
  position: relative;
  bottom: 120px;
}

.top-row {
  position: relative;
  bottom: 30px;
}

.center-row {
  position: relative;
  bottom: 70px;
}

/* Category Search */

.category-search-header {
  font-family: "Benton Sans";
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  color: #282C35;
  padding: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-bottom: 1px solid #D2D6DF;
  background-color: #fff;
}

.empty-category-header {
  font-family: "Benton Sans";
  font-size: 25px;
  line-height: 50px;
  font-weight: 600;
  color: #282C35;
  text-align: center;
  margin-top: 15px;
}

.no-event-image {
  margin-top: 35px;
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.flex-wrapper.category-event-card {
  width: 70%;
  border-right: 1px solid #EFF2F5;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.event-image.category-event-card {
  width: 35%;
  height: 152px;
  float: left;
  border-right: 1px solid #EFF2F5;
}

.event-date.category-event-card {
  width: 50%;
  margin-left: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  right: 32px;
}
.event-location.category-event-card {
  width: 50%;
  margin-left: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.event-tag.category-event-card {
  width: 50%;
  margin-left: 2%;
}

.event-card-footer.category-event-card {
  
}

.event-card-label.category-event-card {
  top: 10px;
  right: 55px;
  float: left;
}

.search-tag {
  color: #22b8ff;
}

/* Navbar */

.navbar {
  height: 61px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D2D6DF;
}

.logo, .sessionLinks {
  display: inline-block;
}

.logo {
  font-family: 'karbonsemibold';
  font-size: 33px;
  color: #f6682F;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-top: 12px;
  border-right: 1px solid #EFF2F5;
  text-decoration: none;
}

.sessionLinks {
  float: right;
}

.login-signup a:last-child {
  border-right: 1px solid #EFF2F5;
}

.login-signup a {
  color: #45494E;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  vertical-align: middle;
  display: table-cell;
  border-left: 1px solid #EFF2F5;
  font-family: "Benton Sans";
  font-size: 12px;
  letter-spacing: 0.5px;
  height: 100%;
}

.login-signup a:hover {
  background-color: #EFF2F5;
}


.login-form-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
}

.login-form-box {
  background-color: #fff;
  height: 355px;
  border: 1px solid #D2D6DF;
  border-radius: 5px;
}

.login-signup .create-event {
  color: #22b8ff;
}

/* Session forms */

.login-form, 
.form-title, 
.guest-button, 
.session-errors li {
  margin: 0 auto;
  text-align: center;
}

.form-title {
  font-family: "Benton Sans";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #45494E;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;
}

.username {
  display: block;
  margin: 0 auto;
  font-family: "Benton Sans";
  font-size: 14px;
  letter-spacing: .5px;
}

.password {
  padding: 15px;
  font-family: "Benton Sans";
  font-size: 14px;
  letter-spacing: .5px;
}

.submitButton {
  position: relative;
  top: 15px;
}

.guest-button {
  display: block;
  position: relative;
  top: 31px;
}

.session-errors li {
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: "Benton Sans";
  color: red;
}

.login-input {
  border-radius: 3px;
  border: 1px solid #D2D6DF;
  padding: 12px;
  width: 250px;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  font-size: 12px;
}

input[type=submit], .guest-button {
  transition: background-color 0.7s ease;
  background-color: #00cc52;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 276px;
  padding: 12px;
  font-size: 14px;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  transition: all .2s;
}

input[type=submit]:hover, .guest-button:hover {
  background-color: #00d656;
}

.close-icon {
  transition: opacity 0.3s ease;
  opacity: 1;
  height: 28px;
  width: 28px;
}

.close-icon:hover {
  opacity: .5;
}

.auto-enter {
   opacity: 0.01;
   transform: translateY(-500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 400ms;
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 200ms;
 }

/* Event Index */

.bookmark-icon, .trash-icon {
  height: auto;
  float: right;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #EFF2F5;
  font-size: 20px;
}

.bookmark-icon:hover {
  color: #FFDF00;
}

.trash-icon:hover {
  color: red;
}

.event-title {
  font-size: 15px;
  font-weight: 600;
  color: #282C35;
      white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    height: 0.68em;
}

.event-location {
  color: #45494E;
  font-size: 12px;
  font-weight: 400;
}

.event-location, 
.event-title,
.event-date {
  padding: 5px;
  padding-left: 15px;
  font-family: "Benton Sans";
}

.event-date {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-transform: uppercase;
}

.event-tag {
  font-size: 12px;
  font-weight: 400;
  color: #45494E;
  text-transform: capitalize;
  margin-right: 10px;
  line-height: 40px;
}

.event-tag.second-tag {
  margin-left: 15px;
}

.first-tag:hover {
  color: #22b8ff;
}

.second-tag:hover {
  color: #22b8ff;
}

.event-card-footer {
  border-top: 1px solid #EFF2F5;
  padding-left: 15px;
  font-family: "Benton Sans";
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}
.event-image {
  height: 170px;
  width: 100%;
}

.flex-wrapper {
  width: 33.3333%;
}

.event-card {
  display: inline-block;
  height: 285px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  background-color: white;
  margin: 25px;
}

.event-card-label {
  display: inline-block;
  background-color: rgba(255,255,255,.85);
  float: right;
  position: relative;
  bottom: 160px;
  right: 12px;
  font-size: 13px;
  font-family: "Benton Sans";
  padding: 4px 10px;
  color: #282C35;
  letter-spacing: 0.5px;
}

/* Event Detail View */

.event-detail-header {
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333;
  background-blend-mode: soft-light;
}

.event-detail-title, .event-detail-date {
  color: #fff;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.event-detail-date {
 font-size: 35px;
 font-weight: 600;
}

.event-detail-title {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 25px;
}

.event-detail-menubar {
  padding: 15px;
  border-bottom: 1px solid #D2D6DF;
  height: 40px;
  background-color: white;
  width: 67.9%;
  margin-left: 15%;
  margin-right: 15%;
}

.event-detail-bookmark-icon {
  height: auto;
  width: 20px;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 12px;
  padding-left: 10px;
}

.bookmark-icon.event-detail-view {
  float: left;
  border: none;
}

.purchase-tickets-button, .event-detail-price {
  float: right;
  position: relative;
  bottom: 3px;
}

.event-detail-price {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Benton Sans";
  padding: 10px;
  margin-right: 19px;
  font-weight: 400;
  position: relative;
  top: 1px;
}

 .purchase-tickets-button {
  transition: background-color 0.7s ease;
  background-color: #00cc52;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 15%;
  padding: 12px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Benton Sans";
  letter-spacing: 1px;
  transition: all .2s;
  text-transform: uppercase;
}

input[type=submit]:hover, .purchase-tickets-button:hover {
  background-color: #00d656;
}

.event-detail-body {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  width: 70%;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;

}

.event-pair {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.detail-headings {
  color: black;
  font-family: "Benton Sans";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.event-detail-p {
  font-family: "Benton Sans";
  font-size: 15px;
  font-weight: 400;
  color: #45494E;
}

.event-detail-tag {
  border: 1px solid #D2D6DF;
  border-radius: 15px;
  padding: 7px 10px 6px;
  width: 16%;
  font-weight: 12px;
  font-weight: 400;
}

.event-detail-tag:hover {
  border-color: #00a8f2;
  color: #00a8f2;
}
.event-detail-body-wrapper{
  background-color: #EFF2F5;
  width: 100%;
}

.event-description-header {
  font-size: 25px;
  font-family: "Benton Sans";
  text-align: center;
  border-top: 1px solid #D2D6DF;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.event-description-body {
  padding-top: 25px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Benton Sans";
  color: #45494E;
}

.event-detail-info {
  width: 50%;
  margin: 0 auto;
}

/* Event Form */

small {
  font-size: 12px;
  font-family: "Benton Sans";
  position: relative;
  left: 95px;
}

.event-form {
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
  padding-bottom: 35px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.event-form-h1 {
  font-family: "Benton Sans";
  font-size: 40px;
  letter-spacing: 0.5px;
  padding: 40px;
  display: inline-block;
  font-weight: 600;
  color: #282C35;
}

.form-numerals {
  display: inline-block;
  height: auto;
  width: 40px;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
  text-align: center;
  background-color: #22b8ff;
  color: white;
}
.event-form-header {
  // border-bottom: 1px solid #D2D6DF;
  background-color: white;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.1);
}
.event-form-button {
  float: right;
  transition: background-color 0.7s ease;
  background-color: #22b8ff;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 10%;
  padding: 12px;
  margin-right: 30px;
  font-size: 16px;
  font-family: "Benton Sans";
  letter-spacing: 1px;
  transition: all .2s;
  text-transform: uppercase;
  // flex-direction: column;
  position: relative;
  top: 38px;
}

.form-footer-button {
  transition: background-color 0.7s ease;
  background-color: #22b8ff;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 15%;
  padding: 12px;
  margin-right: 30px;
  font-size: 16px;
  font-family: "Benton Sans";
  letter-spacing: 1px;
  transition: all .2s;
  text-transform: uppercase;
  margin-left: 90px;
  margin-bottom: 20px;
}

.form-footer-button:hover, 
.event-form-button:hover {
  background-color: red;
}

.form-input {
  display: block;
  margin: 35px;
  margin-left: 90px;
  margin-top: 5px;
  width: 80%;
}

input[type="file"] {
  // width: 250px;
  height: auto;
}

.event-form-subtitle {
  font-family: "Benton Sans";
  font-size: 30px;
  letter-spacing: 0.5px;
  padding: 40px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.form-label {
  font-family: "Benton Sans";
  font-size: 15px;
  margin-left: 90px;
  color: #45494E;
  text-transform: uppercase;
}

input[type="date"], 
input[type="number"],
select {
  // width: 273px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #D2D6DF;
  font-family: "Benton Sans";
}

.title2, .location2 {
  border-radius: 3px;
  border: 1px solid #D2D6DF;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  font-size: 12px;
  height: 40px;
}

textarea {
  width: 373px;
  height: 120px;
  border-radius: 3px;
  border: 1px solid #D2D6DF;
}

#upload {
  display: none;
}

.image-drop {
  width: 34%;
  border: 1px solid #D2D6DF;
  border-radius: 4px;
  margin-left: 90px;
  padding: 15px;
  margin-bottom: 25px;
}

.image-upload-card {
  display: inline-block;
  height: 75px;
  border: 3px dashed #D2D6DF;
  border-radius: 6px;
  padding: 100px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Benton Sans";
  font-size: 22px;
  color: #22b8ff;
  font-weight: 400;
}

.image-upload-card:hover {
  border-color: #22b8ff;
}

.form-wrapper {
  width: 80%;
  margin-left: 10%;
}

.form-input2 {
  display: block;
  margin: 35px;
  margin-left: 90px;
  margin-top: 5px;
}

.form-input {
  width: 80%;
  padding-left: 10px;
}

/* User Profile */

.user-profile-container {
  background-color: white;
  height: 165px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.4);
}

.profile-greeting {
  font-family: "Benton Sans";
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.profile-span {
  color: #f6682F;
  font-family: karbonsemibold;
}

.user-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.menu-tabs {
  display: flex;
  text-align: center;
}

.tab-option, em {
  cursor: pointer;
  display: inline;
  padding-left: 70px;
  padding-right: 70px;
  flex-direction: row;
  font-family: "Benton Sans";
  font-size: 12px;
  color: #45494E;
  text-transform: uppercase;
}

.tab-option:hover {
  color: #22b8ff;
}

.tab-option {
  display: inherit;
}

.hvr {
  animation: pulse 0.4s forwards;
  padding-bottom: 6px;
  position: relative;
  left: 31px;
}

@keyframes pulse {
  0% {
    content: '';
    height: 0px;
    width: 0px;
    visibility: hidden;
    border-bottom: 4px solid #22b8ff;
    transition: width 1s ease;
  }
  100% {
    width: 230px;
    border-bottom: 4px solid #22b8ff;
  }
}

em {
  padding-bottom: 10px;
  display: inline-block;
  justify-content: center;
}

.user-profile-events .flex-wrapper {
  display: inline-flex
}

.no-events-header {
  font-family: "Benton Sans";
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  color: #282C35;
  text-align: center;
  margin-top: 45px;
}

.no-events-image {
  margin-top: 45px;
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Search Bar */

.search-container {
  margin-bottom: 50px;
  margin: 0 auto;
}

.search-form {
  margin-top: -40px;
  margin-bottom: 5px;
}

.search-bar {
  width: 50%;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #D2D6DF;
  margin-left: 18%;
  margin-right: 2%;
  padding-left: 13px;
}

.search-submit-button {
  background-color: #22b8ff;
  color: #fff;
  border-radius: 3px;
  border: 0;
  width: 165px;
  padding: 12px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: "Benton Sans";
  letter-spacing: 0.5px;
  transition: all .2s;
  text-transform: uppercase;

}

/* Tickets Modal */

.ticket-form, 
.ticket-form-header 
{
  margin: 0 auto;
  text-align: center;
}

.ticket-form-header {
  font-family: "Benton Sans";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #45494E;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;
}

.ticket-modal-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
}

.ticket-form-box {
  background-color: #fff;
  height: 335px;
  border: 1px solid #D2D6DF;
  border-radius: 5px;
  width: 18%;
}

.submitButton.tickets {
  width: 200px;
  background-color: #22b8ff;
  margin-top: 5px;
}

.submitButton.tickets:hover,
.search-submit-button:hover { 
  background-color: #4dc6ff;
}

.ticket-icon-container {
  height: 1px;
  margin-bottom: 110px;
  margin-top: -40px; 
}

.tickets-logo {
  width: 100%;
}

