/* Fonts */

@font-face {
    font-family: 'karbonsemibold';
    src: url('karbon-semibold-webfont.eot'),
         url('karbon-semibold-webfont.woff') format('woff'),
         url('karbon-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('BentonSans-Regular.woff') format('woff'),
         url('BentonSans-Regular.oft');
    font-weight: normal;
    font-style: normal;
}